@import'../common/styles/header.scss';
@import'../common/styles/main-content.scss';
@import'../common/styles/footer.scss';
@import'../common/styles/menu.scss';
@import'../common/styles/leftblock.scss';
@import'../common/styles/base.scss';
@import'../common/styles/hack.scss';

.main-block {
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
    height: 1000px; // delete latet
    // display: flex;
    // justify-content: center;
}