@import './mixins';

.header {
    width: 100%;
    height: 310px;
    background-color: #dcdcdc;
    position: relative;
    &__logo {
        position: absolute;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        max-width: 273px;
        width: 100%;
        height: 100px;
        background-image: url('../../assets/images/Название\ \ компании\ самая\ клевая\ компания.png');
    }
    &__item {
        @include width;
        height: 230px;
        margin: 0 auto;
        &_numbers {
            font-size: 40px;
            font-family: "OpenSans";
            color: rgb(118, 118, 118);
            line-height: 1.15;
            text-align: right;
        }
        &_call-back{
            color: rgb(118, 118, 118);
            line-height: 1.15;
            display: block;
            text-align: right;
            font-size: 24px;
        }
    }
}

.number1 {
    padding-top: 45px;
}


.navbar {
    width: 100%;
    height:80px;
    background-color: #767676;
    display:flex;
    justify-content: center;
    cursor: pointer;
    &__items {
        @include width;
        height: 80px; //delete
        display: flex;
        justify-content: space-around;
        &_item {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: rgb(255, 255, 255);
            line-height: 1.2;
        }
    }
}

.slyder {
    width: 100%;
    height: 400px;
    background-image: url('../../assets/images/Слайд\ 1.png');
}


