
.leftblock-menu {
    list-style: none; 
    text-align: left;
    &__container {        
        color: rgb(118, 118, 118);
        font-size: 18px;
        font-family: "PTSans";
        line-height: 1.667;
        cursor:pointer;
        &_open {
            .leftblock-menu__items {
                display: block;
                // transform: scaleY(1);
                // transform-origin: top;
                // opacity: 1;
                // overflow: hidden;
                // position: absolute;
            } 
        }
    }
    &__items {
        display: none;
        font-size: 14px;
        padding-left:20px;
        list-style-type:disc;
        // opacity: 0;
        // transition: all 400ms;
        // transform: scaleY(0);
        // transform-origin: top;
        // overflow: hidden;
        // position: absolute;
    }
    &__excel {
        position: absolute;
        margin-top: 170px; ////&&&&&
        border: none;
        width: 100%;
        min-width: 160px;
        height: 140px;
        padding: 0;
        background-color: #fff;
        &_img {
            margin: 0 auto;
            width:100px;
            height: 110px;
            background-image: url('../../assets/images/MS\ -\ EXCEL.png');
            background-repeat: no-repeat;
        }
        &_text {
            font-size: 30px;
            font-family: "PTSans";
            color: rgb(68, 68, 68);
            font-weight: bold;
            line-height: 0.833;
            text-align: center;
        }
    }
}
  
  
